<!DOCTYPE html>

<style>
    .grid-container {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    width:10px;
    height:10px;
    text-align: center;
  }
</style>

<html>
<head>
    <title>paint test</title>

</head>
<body>

    <div class="grid-container" id="canvas">

    </div>

    <script src="test.js"></script>

</body>
</html>